html {
  box-sizing: border-box;
}

:root {
  --column-1: #a2622d;
  --column-2: #1b6161;
  --column-3: #248224;
  --column-4: #a22d22;
}

body {
  background-color: #616161;
  color: whitesmoke;
  margin: 0;
  overflow-y: hidden;
}

.body-title {
  text-align: center;
  font-size: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  margin: 2rem;
}

.drag-list {
  display: flex;
  align-items: flex-start;
}

.drag-column {
  flex: 1;
  margin: 0 1rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  overflow-x: hidden;
}

.custom-scroll {
  overflow-y: auto;
  max-height: 52vh;
}

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 0.5rem;
}

.custom-scroll::-webkit-scrollbar {
  width: 1rem;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.8);
}

.backlog-column .header,
.backlog-column .solid,
.backlog-column .solid:hover,
.backlog-column .over {
  background-color: var(--column-1) !important;
}

.progress-column .header,
.progress-column .solid,
.progress-column .solid:hover,
.progress-column .over {
  background-color: var(--column-2);
}

.complete-column .header,
.complete-column .solid,
.complete-column .solid:hover,
.complete-column .over {
  background-color: var(--column-3);
}

.on-hold-column .header,
.on-hold-column .solid,
.on-hold-column .solid:hover,
.on-hold-column .over {
  background-color: var(--column-4);
}

.header {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  margin: 1rem;
}

/* Drag and Drop */
.over {
  padding: 5rem 1rem;
}

.drag-item-list {
  min-height: 5rem;
}

.drag-item {
  margin: 1rem;
  padding: 1rem;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.drag-item:focus {
  outline: none;
  background-color: whitesmoke;
  color: black;
}

.add-btn-group {
  display: flex;
  justify-content: space-between;
}

.add-btn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in;
  user-select: none;
}

.add-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.add-btn:active {
  transform: scale(0.97);
}

.solid {
  display: none;
}

.solid:hover {
  transition: unset;
  filter: brightness(95%);
  color: white;
}

.plus-sign {
  font-size: 1.5rem;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.add-container {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 100px;
  display: none;
}

.add-item {
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: white;
  border-radius: 1rem;
  margin: 0.5rem auto;
  resize: none;
  color: black;
  padding: 0.5rem;
}

.add-item:focus {
  outline: none;
}

/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .main-title {
    font-size: 2rem;
  }
}
