html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #121212;
}

h1 {
  color: whitesmoke;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 5px;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(115, 115, 115, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  .image-container {
    margin: 10px;
  }
}
